<% if !user_signed_in? %>
<div class="jumbotron">
  <h1>Review Your favourite movies!</h1>
  <p>Nonummy etiam, risus ut aliquam suspendisse dolor, ornare ultricies a tristique, amet ut vitae.</p>
  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  </div>
<% end %>


<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
    </div>

  <% end %>
</div>